/* Add a White background color to the top navigation */

.topnav {
  background-color: white;
  overflow: hidden;
  margin-top: 0;
  border-color: #cccccc;
}


/* Style the links inside the navigation bar */

.topnav section {
  float: right;
  display: block;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.service {
  margin-right: 250px;
}

.porfolio,
.about {
  margin-right: 10px;
}


/* Change the color of links on hover */

.topnav section:hover {
  background-color: #ddd;
  color: white;
}


/*Nav name header "Akandu"*/

header {
  float: left;
  background-color: #4aaaa5;
  color: white;
  display: box;
  padding: 30px;
  font-size: 30px;
  margin-left: 100px;
  width: 20%;
}

h1,
h2,
header {
  font-family: 'Georgia', Times, Times New Roman, serif;
}


/*Main body Wrapper*/

.mainPage {
  margin-left: 100px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 550px;
  max-height: 1000px;
  border: 1px solid;
  overflow: hidden;
  padding-left: 20px;
  float: left;
  background-color: white;
}


/*images*/

img {
  float: left;
}

.image img {
  margin-right: 20px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 240px;
  height: 180px;
}

h1 {
  border-color: #cccccc;
  padding: 10px;
  color: #4aaaa5;
  margin-top: 20px;
}

#connectInfo {
  float: left;
  border: 1px solid;
  background-color: white;
  margin-top: 20px;
  width: 270px;
  height: 150px;
  padding-left: 20px;
  margin-left: 20px;
}

.icon img {
  margin-left: 10px;
}

body {
  padding: 0;
  font-family: 'Arimo', sans-serif;
  */ font-size: 18px;
  line-height: 150%;
  color: #333;
  background-image: url("../../cheap_diagonal_fabric.png");
}

h2 {
  color: #4aaaa5;
}

p {
  color: #777777;
}


/*Bottom footer*/

footer p {
  color: #dad7d7;
}

footer {
  padding-top: 10px;
  background-color: #666666;
  height: 100px;
  text-align: center;
  clear: both;
  color: white;
}


/*Media queries start here*/

@media all and (max-width: 980px) {
  .topnav header {
    width: 25%;
  }
  .topnav section {
    width: 10%;
    margin: auto;
    padding-top: 25px;
  }
  .service {
    margin-right: auto;
  }
  .mainPage {
    width: 40%;
    overflow: auto;
  }
  .about img {
    width: 90%;
    height: 300px;
    margin-bottom: 20px;
  }
}


/* Media querie for 768px */

@media all and (max-width: 768px) {
  /* The header will static*/
  .topnav {
    width: 100%;
  }
  .topnav header {
    width: 40%;
    margin: auto;
    margin-left: 10px;
  }
  .topnav section {
    width: auto;
    margin: auto;
    margin-top: 10px;
  }
  .mainPage {
    width: 90%;
    margin: auto;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 18px;
  }
  .about img {
    width: 250px;
    height: 250px;
    margin-bottom: 0px;
  }
  #connectInfo {
    width: 90%;
    margin: auto;
    margin-left: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}


/*Media querie for 684px*/

@media all and (max-width: 640px) {
  /* The header will static*/
  .topnav header {
    position: static;
    width: 100%;
    margin: auto;
    padding-left: 180px;
  }
  .topnav section {
    width: 20%;
    float: left;
    margin: auto;
    padding-left: 40px;
  }
  .service {
    margin-right: 0:
  }
  .mainPage {
    width: 90%;
    margin: auto;
    margin-left: 10px;
    margin-top: 10px;
    height: 300px;
    background-size: cover;
  }
  .about img {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
  }
  #connectInfo {
    width: 90%;
    margin: auto;
    margin-left: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  footer {
    margin-top: 10px;
    width: 100%;
    margin: auto;
    position: sticky;
  }
}